<html>
  <head>
  <script type="text/javascript" src="/js/scripts.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Anton|Quicksand" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body onload="load();">
    <center>
      <div class="title">Random Pairs</div><br>
      <%= yield %>

      <br><p id="error_out" class="errormsg"></p>
    </center>
  </body>
</html>