<form action="/randomize" method="post">
<table style="width:20rem" cellspacing=0 cellpadding=0 border=0>
<tr><td><center>
<div id="name_boxes">
</div></center>
</td></tr></table><br>
<button type="sumbit">Randomize!</button>
</form>
<br><br>
<%= names %>